<!-- Place all UI elements intended to be present across all routes in this file -->
<div class="test">
  <img src="AppContent/images/yang-yin.jpg" alt="">
  <section>

    <hgroup>
      <h1>{{ vm.name }} header</h1>
      <h3> {{ vm.description }} </h3>
    </hgroup>

    <test-navbar>
    </test-navbar>
  </section>

  <ui-view></ui-view>

  <section class="footer">
    <p>{{ vm.name }} footer</p>
  </section>

  <section>
    <br/>
    <button ng-click="vm.onGetData()">GetData</button>
    <ul>
      <li ng-repeat="val in vm.dataList">{{val}}</li>
    </ul>
  </section>
</div>
