<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= webpackConfig.metadata.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="description" content="<%= webpackConfig.metadata.title %>">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <base href="<%= webpackConfig.metadata.baseUrl %>">

  </head>
  <body ng-app="app" ng-strict-di ng-cloak>
    <ui-view/>

    <!-- Load bundles here -->
    <%= '<script type="text/javascript" src="' + htmlWebpackPlugin.files.js.join('"></script><script type="text/javascript" src="') + '"></script>' %>

    <!-- Top level entry point -->
    <script>
      const rootStateName = 'app';
      angular.module('app', ['ui.router', <%= webpackConfig.metadata.ngModulesList %>])
      .component('app', {
        template: [
          '<div ng-show="!$state.current.name || $state.current.name == rootStateName">',
            //'<center>',
              <% for (let i=0; i < webpackConfig.metadata.env.BUNDLE_ENTRIES.length; i++) { %>
                '<span><a ui-sref="<%= webpackConfig.metadata.env.BUNDLE_ENTRIES[i] %>"> <%= webpackConfig.metadata.env.BUNDLE_ENTRIES[i] %></a></span>&nbsp|',
              <% } %>
            //'</center>',
            '<hr/>',
          '</div>',
          '<ui-view>',
          '</ui-view>',
        ].join('\n'),
        restrict: 'E',
        controller: ['$scope', '$state', function($scope, $state) {
          $scope.$state = $state;
          $scope.rootStateName = rootStateName;
        }],
      })
      .config(['$locationProvider', '$urlRouterProvider', '$stateProvider', ($locationProvider, $urlRouterProvider, $stateProvider) => {
          if (!<%= webpackConfig.metadata.env.ONLY_BUNDLE %>) {
            $locationProvider.html5Mode(false).hashPrefix('!');
            $urlRouterProvider.otherwise('/');
            $stateProvider.state(rootStateName, {
              component: 'app',
              url: '/',
              data: {
                title: '<%= webpackConfig.metadata.title %>',
              },
            });
          }
      }]);
    </script>
    <script>
      // When webpack hot middleware reloads modules, page doesn't refresh.
      // The following will force page to reload (based on info from hot-middleware client.js):
      (function() {
        var source = new window.EventSource('/__webpack_hmr');
        source.onmessage = function(event) {
          if (event.data == "\uD83D\uDC93") {
            return;
          }
          try {
            var data = JSON.parse(event.data);
            if(data.action === 'built') {
              console.warn("Reloading page...");
              window.location.reload();
            }
          } catch(ex) {
            console.warn("Invalid HMR message: " + event.data + "\n" + ex);
          }
        }
      })();
    </script>
  </body>
</html>
