@import '<%= bundleRootRelativePath %><%= lispName %>.mixins'

.<%= lispFullName %>
  height 100%
  background-color grayscale(128,128,128)
  .header
	  background-color #B6D6E0
  .footer
    background-color #E6D4CF
  .content
	  background-color white
